<div class="container text-center mt-5">
  <h2>Lista de clientes</h2>

    <table class="table mt-3">
    <thead>
      <tr  class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Nome do cliente</th>
        <th scope="col">Valor da transferência</th>
        <th scope="col">Número da conta</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>

    <!--*ngFor é para deixar minha tabela dinâmica, tipo o #each do handlebars-->
    <tbody  class="text-center">
      <tr *ngFor="let item of ListarContas">
        <th>{{item.id_transferencia}}</th>
        <td>{{item.nomeCliente | uppercase}}</td>
        <td>{{item.valor | currency: 'BRL'}}</td>
        <td>{{item.contaCliente}}</td>
        <td>
          <button (click)="editar(item.id_transferencia)" type="button" class="btn btn-success">Editar</button>
        </td>
        <td>
          <button (click)="excluir(item.id_transferencia)" type="button" class="btn btn-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
