<div class="container w-50 my-5">
  <h3>Cadastro para transferências bancárias</h3>
  <div class="col">
    <form>
      <div class="mb-1">
        <label class="form-label">Nome do cliente:</label>
        <!--ngModel interliga o campo texto com o a variável "conta" declarada no cadastrar.components.ts-->
        <input [(ngModel)]="conta.nomeCliente" type="text" class="form-control" name="nomeCliente">
      </div>
      <label for="valor">Valor a ser transferido:</label>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>

        <input [(ngModel)]="conta.valor" type="text" class="form-control" name="valor" id="valor" aria-label="Quantia">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <div class="mb-1">
        <label class="form-label">Número da conta:</label>
        <input [(ngModel)]="conta.contaCliente" type="text" class="form-control" name="contaCliente">
      </div>
      <div class="my-3">
        <!--adicionando o evento de click para chamar a função cadastrar() (cadastrar.component.ts)-->
        <button (click)="cadastrar()" class="btn btn-success">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
